
.container-fluid {
    margin: auto;
    padding: 0px;
}

.list > button{
height: 40px;
width: 40px;
text-align: center;
border: none;
margin: 10px auto;
cursor: pointer;
float: left;

}

.galery > button{
height: 40px;
width: 40px;
text-align: center;
border: none;
margin: 10px auto;
cursor: pointer;
float: right;
}





.post{
    height: 700px;
    width: 500px;
    margin: 50px auto;
    border-style: solid;
}
.post-header{
    
    height: 70px;
    width: 500px;
}
.icon{
   
    height: 50px;
    width: 50px;
    float: left;
    padding: 5px 5px;
    margin:5px;
    font-size: 50px;
    text-align: center;
}
.title{
    
    float: left;
    height: 50px;
    width: 100px;
    padding: 5px 5px;
    margin:5px;
    text-align: left;
    line-height: 0.2; 
 
}
.settings{
   
    float: right;
    height: 50px;
    width: 290px;
    padding: 5px 5px;
    margin:5px;
    font-size: 50px;
    text-align: right;

}

.post-img{
    
    height: 400px;
    width: 500px;
}


.post-body{
   
    height: 230px;
    width: 500px;
}
.post-font{
    
    height: 70px;
    width: 500px;
}
.heart{
    
    height: 50px;
    width: 50px;
    float: left;
    padding: 5px 5px;
    margin:5px;
    font-size: 50px;
    text-align: center;
}
.message{
    
    height: 50px;
    width: 50px;
    float: left;
    padding: 5px 5px;
    margin:5px;
    font-size: 50px;
    text-align: center;
}
.send{
    
    height: 50px;
    width: 50px;
    float: left;
    padding: 5px 5px;
    margin:5px;
    font-size: 50px;
    text-align: center;
}
.save{
  
    height: 50px;
    width: 50px;
    float: right;
    padding: 5px 5px;
    margin:5px;
    font-size: 50px;
    text-align: center;
}
.text{
   
    height: 155px;
    width: 490px;
    float: left;
    margin:2px;
}






body{
    background:lightgray;
    margin: auto;
    padding-top: 0%;
}

.encabezado{
    height: auto;
    padding:1%;
    margin:auto;
    background: white;
}


.ficha{
    margin: 25px auto;
    background: white;
    padding: 0px;
    height: 490px;
    width: 450px;
}


.titulo-ficha{
    padding-top:1px;
    padding-left: 10px;
    display: inline;
    height: 100px;
    width: 300px;
    float: left;
}

.enumeracion-ficha{
    color: gray;
    text-align: right;
    float: right;
}

.icon-heart{
    padding-top:1px;
    padding-left: 10px;
    display: inline;
    height: 100px;
    width: 300px;
    float: left;
}

.comment{
    padding-top:1px;
    display: inline;
    float: left;
    padding-right: 30px;
}

.icon-menu{
    color: gray;
    text-align: right;
    float: right;
}