.container-fluid {
    margin: auto;
    padding: 0px;
}
.option{
    height: 80px;
    width: auto;
    background: #30475e;
}

.list > button{
height: 40px;
width: 40px;
text-align: center;
border: none;
margin: 10px auto;
cursor: pointer;

}

.galery > button{
height: 40px;
width: 40px;
text-align: center;
border: none;
margin: 10px auto;
cursor: pointer;
}