
.container-fluid {
    margin: auto;
    padding: 0px;
}

.list > button{
height: 40px;
width: 40px;
text-align: center;
border: none;
margin: 10px auto;
cursor: pointer;
float: left;

}

.galery > button{
height: 40px;
width: 40px;
text-align: center;
border: none;
margin: 10px auto;
cursor: pointer;
float: right;
}

